* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1.5em;
}

header h1 {
    float: right;
    color: rgb(44, 142, 217);
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    background-color: rgb(196, 244, 255);
}

main {
    background-color: rgb(110, 201, 237);
    height: 50vh;
    color: rgb(42, 97, 149);
}

section,
figure {
    margin: 2em;
    font-size: 1vmax;
}

footer {
    flex-basis: 100%;
    margin: 2em;
    font-family: 'Quantico', sans-serif;
    font-size: .7em;
    color: rgb(42, 97, 149);
}

.hero {
    display: flex;
    justify-content: center;
}

a {
    color: rgb(52, 125, 194);
}

a:hover {
    color: rgb(80, 182, 255);
}

a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 10px;
}

a {
    color: #0849a4;
    text-decoration: none;
}

.hero .button {
    border: none;
    color: rgb(179, 218, 245);
    background-color: rgb(52, 125, 194);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover,
.button:focus {
    background-color: rgb(69, 203, 226);
}

figure img {
    width: 30vw;
    max-width: 45vh;
    border-radius: 8px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav>img {
    margin: 1em;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 10em;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(155, 219, 244);
    color: rgb(52, 125, 194);
    font-weight: bold;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: rgb(96, 219, 244);
}

#nav_menu ul li a.current {
    background-color: rgb(75, 180, 229);
}

#nav_menu ul {
    list-style: none;
    position: relative;
}

.hero h2 {
    font-family: "Abril Fatface", serif;
}

.box {
    padding: 5em;
    margin: 5vh auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.customers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.customers .item h3 {
    justify-content: center;
}

.item {
    background-color: rgb(110, 201, 237);
    margin: 1em;
    padding: 1em;
    color: rgb(28, 105, 177);
    max-width: 20em;
    border-radius: 10px;
}

.item i {
    margin: 1em 2.5em;
}

.customer_pic {
    border-radius: 64px;
    margin: auto;
    display: block;
}


img~ul {
    align-self: flex-end;

}

.utility_pic {
    margin: 5em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    color: rgb(52, 125, 194);
    font-family: "Abril Fatface", serif;
}

#features h3 {
    text-align: center;
    font-family: "Abril Fatface", serif;
}

.review_title {
    font-family: "Abril Fatface", serif;
    padding: 1em;
}

.customers img+h3 {
    font-family: "Abril Fatface", serif;
    margin: 1em;
}

h2 {
    font-size: 2vmax;
    color: rgb(8, 47, 155);
    text-align: center;
    font-family: "Abril Fatface", serif;
}

h3 {
    color: rgb(8, 47, 155);
    text-align: center;
}

h4 {
    text-align: center;
}

form div .formButton {
    color: black;
    background-color: rgb(113, 169, 219);
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    padding: 3px;
}

.formButton:hover,
.formButton:focus {
    background-color: rgb(36, 163, 222);
}

#application form {
    width: 90vw;
    justify-content: center;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: 10em 20em 10em 20em;
}

#application form label,
#application form span {
    justify-self: end;
}

#application h2 {
    font-size: 2em;
    text-align: left;
    margin-left: 15em;
    margin-bottom: 2em;
}

form textarea {
    grid-column-start: 2;
    grid-column-end: 5;
}

.gridFullWidth {
    grid-column-start: 2;
    grid-column-end: 5;
}

.gridWidth {
    grid-column-start: 2;
    grid-column-end: 5;
}

.flexItem {
    padding: 1.5em;
}

iframe {
    margin-top: 2em;
}

.carousel {
    width: 60vw;
    height: 60vh;
    position: relative;
    margin: 4em;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(106, 222, 251, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid rgb(0, 0, 0);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}